/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
    font-family: 'Open Sans', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/

/*--- slider-css --*/
.slider{
	position:relative;
}
.banner-info {
	position: absolute;
	top: 3em;
	left: 13em;
}

.logo1 a {
	color: #fff;
	font-size: 4.5em;
	font-family: 'Niconne', cursive;
	text-decoration: none;
	display: block;
	margin-top: 10px;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.fleche img{
	width: 15%;
	position: absolute;
	top: 40em;
	left: 32em;
	margin-top: 5em;
}
.birds img{
	width: 17%;
	position: absolute;
	top: 0;
	left: 35em;
	margin-top: 5em;
	}
a.morebtn{
	padding: 0.4em;
	display: block;
	font-size: 1.25em;
	text-transform: uppercase;
	color: #FFF;
	text-decoration:none;
	font-weight:400;
	margin: 0 auto;
	width:30%;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	border: 2px solid #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
}
a.morebtn:hover{
	border: 2px dashed #60CBA1;
}
.callbacks_tabs a:after {
	content: url('../old_images/s-hearts.png') no-repeat 0px 0px;
	font-size: 0;
	visibility: visible;
	display: block;
	height: 15px;
	width: 15px;
	display: inline-block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.callbacks_here a:after{
	opacity:0.5;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
	margin: 0 10px 0px 0;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 20px;
	z-index: 999;
	left: 46%;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 41%;
  left: 14%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent no-repeat left top;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 14%;
 }
/*-- responsive-mediaquries --*/
@media(max-width:1024px){
	.caption {
		width: 63%;
		top: 31%;
		left: 19%;
	}
}
@media(max-width:768px){
	.caption {
		width: 70%;
		top: 22%;
		left: 13%;
	}
	.caption h3{
		font-size:1.5em;
	}
	a.morebtn {
		width: 26%;
	}
	.callbacks_nav {
	  	top: 55%;
	 }
}
@media(max-width:640px){
	.caption {
		width: 70%;
		top: 12%;
		left: 13%;
	}
	.caption h3{
		font-size:1.5em;
	}
	a.morebtn {
		width: 30%;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.callbacks_nav {
		display: none;
	}
}
@media(max-width:480px){
	.caption {
		width: 70%;
		top: 14%;
		left: 13%;
	}
	.callbacks_nav {
	  	top: 60%;
	 }
	.caption p{
		height:25px;
		overflow:hidden;
		margin:0.5em 0;
	}
	.caption h3{
		font-size:1.4em;
	}
	a.morebtn {
		width: 40%;
		font-size:0.8em;
	}
	.callbacks_tabs a:after {
		height:4px;
		width: 4px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
@media(max-width:320px){
	.caption {
		width: 70%;
		top: 14%;
		left: 13%;
	}
	.callbacks_nav {
	  	top: 63%;
	 }
	.caption p{
		height:25px;
		overflow:hidden;
		margin:0.2em 0;
	}
	.caption h3{
		font-size:1em;
	}
	a.morebtn {
		width: 50%;
		font-size: 0.8em;
		padding:0.6em 0.5em; 
	}
	.callbacks_tabs a:after {
		height:4px;
		width: 4px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
.top-menu {
	margin-bottom: 14em;
}
.top-menu ul li{
	display:inline-block;
	width:11%;
}
.top-menu ul li a{
	color:#fff;
	text-transform:uppercase;
	font-size:15px;
	font-weight:400;
	text-decoration:none;
}
.top-menu ul li a.active {
	color: #8fd400;
}
/* Effect 16: fall down */
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.cl-effect-16 a::before {
	color: #8fd400;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
i.heart{
	width:15px;
	height:15px;
	background: url('../old_images/heart.png') no-repeat 0px 0px;
	display:inline-block;
	vertical-align: middle;
	margin: 0 2px 5px 0;
}
.logo a  {
	color: #8fd400;
	font-size: 6.5em;
	font-family: 'Niconne', cursive;
	margin-bottom: 1em;
	text-decoration:none;
	display:block;
}
.banner-info h1 {
	color: #fff;
	font-size: 7em;
	font-family: 'Niconne', cursive;
}
.happy-couple {
	background: #8fd301;
	padding: 5em 26em;
}
.happy-couple-head h3 {
	color: #fff;
	font-size: 5em;
	font-family: 'Niconne', cursive;
	margin-bottom: 0.5em;
}
.happy-couple-head img {
	margin-bottom: 1.5em;
}
.happy-couple-grids {
	margin-bottom: 2em;
}
.happy-couple-grid h4 {
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	margin: 17px 0 9px 0;
}
.happy-couple-grid p{
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.5em;
}
.happy-couple-grid {
	padding: 0 50px 0 0;
}
.happy-couple-grid img {
	border-radius: 50%;
}
.happy-couple-grid:nth-child(2) {
	padding: 0 0 0 50px;
}
.happy-couple-text {
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 2em;
}
/*-- comming-soon-page --*/
.commingsoon p {
	color: #fff;
	font-size: 1.9em;
	font-weight: 400;
	text-transform: uppercase;
}
.commingsoon {
	margin-bottom:5em;
	background: url('../old_images/line.png') no-repeat 35.5em 19px;
}
/* ---------- TIMER ---------- */

.countDays,.countHours,.countMinutes,.countSeconds {
    background: rgb(255, 255, 255);
    width: 9%;
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-right: 20px;
}
#counter {
	width:48%;
	height:160px;
	margin-left: 31%;
	font-size:60px;
	color: #FFF;
	overflow: hidden;
}
.timer{
	border-top:2px ridge #5F5F5F;
	border-bottom:2px ridge #5F5F5F;
}
.timer h4{
	font-size: 14px;
	color: #E5E5E5;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-top: 20px;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    float: left;
    width: 18%;
    height: 160px;
    background: #fff;
}
.points {
	float: left;
	width:40px;
	margin: 0;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 138px;
	text-shadow: none;
	color:#FFF;
    display: none;
}
.position {
	position: relative;
	float: left;
	width:35px;
	height:90px;
	margin:24px -18px -14px 16px;
}
.digit {
	position: absolute;
	top: 0;
	left:18px;
}
.boxName {
    float: left;
    width: 100%;
    font-size: 18px;
    color: #545f1d;
    font-weight: 700;
    clear: both;
    background: #d7eb9c;
    padding: 4px;
    margin-top: 27px;
}
.Hours { margin-left: 5px; }
.Seconds { margin-left: 5px; }
/* ---------- /TIMER ---------- */
.counterbg {
	background: url('../images/count-bg.jpg') no-repeat;
	background-size:cover;
	padding:11em 0 0 0;
	min-height: 660px;
}
.important-people-head h3{
	color: #000000;
	font-size: 5.2em;
	font-family: 'Niconne', cursive;
	margin-bottom: 1em;
}
.important-people-text h4{
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.important-people-text h5{
	color: #8fd301;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.important-people-text p{
	color: #6e6e6e;
	font-size: 15px;
	font-weight: 400;
	line-height:1.6em;
}
.important-people-text {
	padding: 0;
	margin-top: 5px;
}
.important-people {
	padding: 6em 0;
}
.important-people-grid {
	margin-bottom: 5em;
}
.important-people-grid:nth-child(3) {
	margin-bottom: 1em;
}
.map iframe{
	width:100%;
	min-height:450px;
}
i.facebook{
	width:65px;
	height:65px;
	background:url('../old_images/img-sprite.png') no-repeat 9px 0px;
	display:inline-block;
	margin-right:15px;
}
i.facebook:hover,i.twitter:hover,i.google-pluse:hover,i.pinterest:hover{
	opacity:0.5;
}
i.twitter{
	width:65px;
	height:65px;
	background:url('../old_images/img-sprite.png') no-repeat -69px 0px;
	display:inline-block;
	margin-right:15px;
}
i.google-pluse{
	width:65px;
	height:65px;
	background:url('../old_images/img-sprite.png') no-repeat -151px 0px;
	display:inline-block;
	margin-right:15px;
}
i.pinterest{
	width:65px;
	height:65px;
	background:url('../old_images/img-sprite.png') no-repeat -227px 0px;
	display:inline-block;
}
.map {
	position: relative;
}
.map-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 455px;
	background: rgba(0, 0, 0, 0.75);
}
.social-icons {
	padding-top: 18em;
}
.footer p {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	padding-top: 3em;
}
.footer p a{
	color:#8fd301;
	margin-left:8px;
}
.footer p a:hover{
	color:#fff;
}
i.tw{
	width:65px;
	height:65px;
	background:url('../old_images/img-sprite.png') no-repeat -7px -80px;
	display:inline-block;
}
i.fb{
	width:65px;
	height:65px;
	background:url('../old_images/img-sprite.png') no-repeat -83px -80px;
	display:inline-block;
}
i.tw:hover,i.fb:hover{
	opacity:0.5;
}

